@mixin btn {
    padding: .3rem 0.7rem;
    margin-right: 1rem;
}

@mixin link {
    &:hover {
        text-decoration: underline;
    }
}

@mixin card {
    padding: 1rem;
    border-radius: 10px;
    background-color: $mainWhite;
    box-shadow: $box-shadow;
}