$mainPrimary: #721bff;
$mainBlue: #357e;
$mainBlue-1: #2f5572;
$mainPurple: #e0e6;
$mainPurple-1: rgba(201, 19, 43, 0.6);
$mainOrange: #cc7b19;
$mainLemon: #828451;
$mainSecondary: #101d2c;
$mainWhite: #f9f7fe;
$mainGrey: #aaa;
$darkGrey: #54483a;
$darkLight: #6d5d4b;

$mainDarkBlue: #00094B;
$mainLightBlue: rgb(22, 43, 111);
$mainLightBlue-1: #00157F;
$mainLightBlue-2: #003297;

$mainBlack: #0c0c0c;
$mainBlackLight: #1d1d1d;
$mainBlackDark: #333;

$mainWhiteLight: #fff;

$mainOrange: #d59541;

$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 
0 6px 6px rgba(0, 0, 0, 0.23);